@import url("https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luxurious+Script&family=Vujahday+Script&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wave {
  height: 75vh;
  width: 100%;
  background: coral;
}

@media screen and (max-width: 450px) {
  .wave {
    height: 85vh;
  }
}
.fond-curvy {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 5%;
  display: block;
}
.contenu {
  position: relative;
  z-index: 1000;
}
h1 {
  font-size: 90px;
  padding: 200px 0 0 10vw;
  position: relative;
  color: #ecd507;
}
p {
  font-size: 30px;
  padding-left: 10vw;
  margin: 7px 0;
  color: #ecd507;
}
