@font-face {
    font-family: 'BiteChocolate';
    src: url('../../fonts/BiteChocolate-2RGl.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fdfbef;
    line-height: normal;
    overflow-x: hidden;
    font-size: 1.25rem;
}

nav{
    font-size: 1rem;
}

nav ul{
    margin-bottom: 0;
}

ul{
    padding-left: 0;
}

*::selection{
    background-color: #ff4d00;
    color: #fdfbef;
}

.glace-banner > p {
    font-family: 'BiteChocolate', sans-serif;
    font-size: 3rem;
    color: #fdfbef;
    background-color: rgba(90, 35, 20, 0.5);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 0 10px rgba(90, 35, 20, 0.5);
}

h1,
h2{
    font-family: 'BiteChocolate', sans-serif;
    color: rgb(90, 35, 20);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 2rem;
}


.glace-banner{
    position: relative;
    height: 650px;
    background-image: url('../../img/recipes/glace/glace-chocolat.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(90, 35, 20, 0.5);
}

.container-header-logo{
    position: relative;
    top: 15%;
    width: 486px; /* Fallback value */
    width: clamp(250px, 30%, 486px);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.header-logo{
    margin-right: 2%;
    width: 100%;
    z-index: 3;
    filter: drop-shadow(10px 10px 4px rgba(81, 41, 32, 0.35));

}

#description,
.general-infos,
.owl-carousel{
    width: clamp(500px, 100%, 1200px);
    margin: auto;
}

.steps{
    width: clamp(500px, 100%, 1225px);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#description{
    padding: 0 50px;
    margin-bottom: 50px;
}

#description p{
    font-size: 1.50rem
}

.informations li{
    list-style: none;
    margin: 10px 0;
}

.informations i{
    color: rgb(90, 35, 20);
    
}

.informations p{
    margin: 10px 0;
}

.informations .fa-star{
    color: rgb(244, 215, 41);
}

.informations div:nth-child(1) a{
    color: rgb(90, 35, 20);
}

.informations div:nth-child(1) p{
    margin-top: 20px;
}

.informations{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.informations div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.informations div:nth-child(1){
    margin-left: 50px;
}


.card {
    background: linear-gradient(135deg, #ece9e6, #ffffff);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.card h3 {
    font-size: 1.5em;
    color: #ff4d00;
    margin: 10px 0;
}

.card p {
    font-size: 1em;
    line-height: 1.5;
    margin: 10px 0;
}


.card:hover {
    transform: scale(1.05); 
}

.card h3, .card p {
    margin: 10px 0; 
}

.card h3 {
    font-size: 1.5em;
    color: #ff4d00; 
}


.steps{
    padding: 0 50px;
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
    
}

.container-img-steps{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    height: 550px;
    top: 120px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fdfbef;
    overflow: hidden;
}


.img-steps{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: var(--_url-img-step);
}


.steps a{
    color: rgb(90, 35, 20);
    opacity: 0.5;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
    transition: opacity 0.3s;
}

.step-desc strong{
    color: rgb(90, 35, 20);
    font-size: 1.25rem;
    font-weight: bold;
}

.step i{
    color: rgb(90, 35, 20);
    font-size: 1.25rem;
    margin-right: 10px;
}

.step{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    color: rgb(90, 35, 20);
    display: flex;
}

.step-desc{
    margin-top: 20px;
    font-size: 1rem;
    font-weight: normal;
    color: #333;
    text-align: center;
    line-height: 1.5;
    width: 100%;
    padding: 0 50px;
}


.step .number{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ff4d00;
    color: #fdfbef;
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.step .number span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fdfbef;
    font-size: 1.25rem;
    font-weight: bold;
}

/** Comment */


/* Container for the entire contact section */
.contact-section {
    background: #fdfbef;
    padding: 50px 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-bottom: 50px;
}


/* Container for the contact form */
.contact-form {
    padding: 40px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin: 0 auto;
}

/* Styles for input fields, textareas, and buttons */
.contact-form input,
.contact-form textarea,
.contact-form button {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Focus styles for form elements */
.contact-form input:focus,
.contact-form textarea:focus,
.contact-form button:focus {
    outline: none;
    border-color: #ff4d00;
    box-shadow: 0 0 10px rgba(255, 77, 0, 0.5);
}

/* Button styles */
.contact-form button {
    background-color: #ff4d00;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Button hover effect */
.contact-form button:hover {
    background-color: #e21a00;
    transform: scale(1.05);
}

/* Container for star rating */
.star-rating {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    
}

/* Styles for stars */
.star-rating .fa-star {
    font-size: 28px;
    color: #ddd;
    cursor: pointer;
    transition: color 0.3s ease;
}

/* Checked star color */
.star-rating .fa-star.checked {
    color: #ffc107;
}

/* Hover effect for stars */
.star-rating .fa-star:hover,
.star-rating .fa-star:hover ~ .fa-star {
    color: #ffa000;
}

/* Container for the comments section */
.comments-section {
    margin-top: 50px;
    margin-right: 150px;
    margin-left: 150px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styles for individual comments */
.comment {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

/* Last comment should have no border at the bottom */
.comment:last-child {
    border-bottom: none;
}

/* Date styling for comments */
.comment .comment-date {
    font-size: 0.9em;
    color: #999;
    margin-bottom: 10px;
}

/* Rating styling for comments */
.comment .comment-rating {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* Star styling for comments */
.comment .comment-rating i {
    font-size: 20px;
    color: #ffc107;
    margin-right: 2px;
}



/* Responsive adjustments */
@media (max-width: 768px) {
    .contact-form {
        padding: 30px;
    }

    .contact-form input,
    .contact-form textarea,
    .contact-form button {
        font-size: 0.9em;
        padding: 12px;
    }

    .star-rating .fa-star {
        font-size: 24px;
    }

    .comment {
        padding: 10px 0;
    }
}
@media (max-width: 768px) {
    .contact-form, .comments-section {
        padding: 20px;
    }

    .contact-form input, .contact-form textarea, .contact-form button {
        padding: 10px;
    }

    .star-rating .fa-star {
        font-size: 20px;
    }

    .comment {
        padding: 10px 0;
    }
}

@media (max-width: 768px) {
    .contact-form .row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }

    .contact-form .col-lg-6 {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 15px;
    }

    .contact-form .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 15px;
    }

    h3 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 850px) {
    #description,
    .steps {
        flex-direction: column;
    }

    .general-infos {
        padding: 0 50px;
    }

    .general-infos h2 {
        margin-top: 50px;
    }

    .informations {
        flex-direction: column;
    }

    .informations div {
        margin-left: 0;
    }

    .steps,
    .informations,
    #description {
        padding: 0 20px;
    }
}

@media screen and (max-width: 900px) {
    .steps {
        flex-direction: column;
    }

    .img-steps.chantilly {
        height: 100%;
    }

    .container-img-steps,
    .container-img-steps:has(.img-steps.chantilly) {
        height: 100%;
    }
}

@media screen and (min-width: 1400px) {
    .glace-banner {
        background-position: 50% 0%;
    }
}

@media screen and (max-width: 650px) {
    .glace-banner {
        height: 500px;
    }
}

@media screen and (max-width: 780px) {
    .glace-banner > p {
        font-size: 2.5rem;
    }
}
