@font-face {
    font-family: 'BiteChocolate';
    src: url('../../fonts/BiteChocolate-2RGl.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fdfbef;
    line-height: normal;
    overflow-x: hidden;
    font-size: 1.25rem;
}

nav{
    font-size: 1rem;
}

nav ul{
    margin-bottom: 0;
}

ul{
    padding-left: 0;
}

*::selection{
    background-color: #ff4d00;
    color: #fdfbef;
}

.glace-banner > p {
    font-family: 'BiteChocolate', sans-serif;
    font-size: 3rem;
    color: #fdfbef;
    background-color: rgba(90, 35, 20, 0.5);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 0 10px rgba(90, 35, 20, 0.5);
}

h1,
h2{
    font-family: 'BiteChocolate', sans-serif;
    color: rgb(90, 35, 20);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 2rem;
}


.glace-banner{
    position: relative;
    height: 650px;
    background-image: url('../../img/recipes/glace/glace-chocolat.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(90, 35, 20, 0.5);
}

.container-header-logo{
    position: relative;
    top: 15%;
    width: 486px; /* Fallback value */
    width: clamp(250px, 30%, 486px);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.header-logo{
    margin-right: 2%;
    width: 100%;
    z-index: 3;
    filter: drop-shadow(10px 10px 4px rgba(81, 41, 32, 0.35));

}

#description,
.general-infos,
.owl-carousel{
    width: clamp(500px, 100%, 1200px);
    margin: auto;
}

.steps{
    width: clamp(500px, 100%, 1225px);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#description{
    padding: 0 50px;
    margin-bottom: 50px;
}

#description p{
    font-size: 1.50rem
}

.informations li{
    list-style: none;
    margin: 10px 0;
}

.informations i{
    color: rgb(90, 35, 20);
    
}

.informations p{
    margin: 10px 0;
}

.informations .fa-star{
    color: rgb(244, 215, 41);
}

.informations div:nth-child(1) a{
    color: rgb(90, 35, 20);
}

.informations div:nth-child(1) p{
    margin-top: 20px;
}

.informations{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.informations div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.informations div:nth-child(1){
    margin-left: 50px;
}


.card {
    background: linear-gradient(135deg, #ece9e6, #ffffff);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.card h3 {
    font-size: 1.5em;
    color: #ff4d00;
    margin: 10px 0;
}

.card p {
    font-size: 1em;
    line-height: 1.5;
    margin: 10px 0;
}


.card:hover {
    transform: scale(1.05); 
}

.card h3, .card p {
    margin: 10px 0; 
}

.card h3 {
    font-size: 1.5em;
    color: #ff4d00; 
}


.steps{
    padding: 0 50px;
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
    
}

.container-img-steps{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    height: 550px;
    top: 120px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fdfbef;
    overflow: hidden;
}


.img-steps{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: var(--_url-img-step);
}


.steps a{
    color: rgb(90, 35, 20);
    opacity: 0.5;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
    transition: opacity 0.3s;
}

.step-desc strong{
    color: rgb(90, 35, 20);
    font-size: 1.25rem;
    font-weight: bold;
}

.step i{
    color: rgb(90, 35, 20);
    font-size: 1.25rem;
    margin-right: 10px;
}

.step{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    color: rgb(90, 35, 20);
    display: flex;
}

.step-desc{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(90, 35, 20);
    display: flex;
    justify-content: center;
    align-items: center;
}


.step .number{
    min-width: 50px;
    background-color: rgb(90, 35, 20);
    border-radius: 100%;
    height: 50px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(90, 35, 20, 0.5);
}

.step .number span{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    color: #fdfbef;
    font-weight: bold;
    font-size: 1.75rem;
}

/** Comment */

.contact-section {
    background: #fdfbef;
    padding: 50px 0;
}

.contact-form {
    background: #f1d6b4;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form input,
.contact-form textarea,
.contact-form button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    background-color: rgb(88, 34, 21);
    color: #dfc298;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: rgb(70, 27, 17);
}

.star-rating {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.star-rating .fa-star {
    font-size: 24px;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
}

.star-rating .fa-star.checked {
    color: #ffc107;
}

.comments-section {
    margin-top: 30px;
}

.comment {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.comment .comment-date {
    font-size: 0.9em;
    color: #777;
}

.comment .comment-rating {
    color: rgb(88, 34, 21);
}

.comment .comment-rating i {
    margin-right: 2px;
}

@media (max-width: 768px) {
    .contact-form .row {
        display: flex;
        flex-wrap: wrap;
    }

    .contact-form .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 15px;
    }

    .contact-form .col-lg-12 {
        flex: 0 0 95%;
        max-width: 95%;
        padding: 0 15px;
    }

    h3 {
        text-align: center;
    }
}

@media screen and (max-width: 850px) {
    #description,
    .steps {
        width: 90%;
    }

    .general-infos {
        margin: 0;
        width: 100%;
    }

    .general-infos h2 {
        padding: 0 50px;
    }

    .informations {
        flex-direction: column;
    }

    .informations div {
        margin-left: 35px;
    }

    .steps,
    .informations,
    #description {
        padding: 0;
    }
}

@media screen and (max-width: 900px) {
    .steps {
        flex-direction: column;
    }

    .img-steps.chantilly {
        height: 100%;
    }

    .container-img-steps,
    .container-img-steps:has(.img-steps.chantilly) {
        margin-left: 0;
        order: -1;
        top: 0;
        height: 320px;
    }
}

@media screen and (min-width: 1400px) {
    .glace-banner {
        background-position: 0 25%;
    }
}

@media screen and (max-width: 650px) {
    .glace-banner {
        background-position: 25% 0%;
    }
}

@media screen and (max-width: 780px) {
    .glace-banner > p {
        min-width: 400px;
        font-size: 2rem;
    }
}
