.step:hover {
    cursor: pointer;
}
.step:hover input {
    cursor: pointer;
}
input[type='radio'] {
    margin-right: 0.3em;
}
input[type='radio']:checked::after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: rgb(90, 35, 20);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
#comments-form-button:hover {
    cursor: pointer;
}
.rotated-animation {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg); /* IE 9 */
    -moz-transform: rotate(180deg); /* Firefox */
    -webkit-transform: rotate(180deg); /* Safari and Chrome */
    -o-transform: rotate(180deg); /* Opera */
}
#comments-form-button img {
    transition: transform 1400ms ease;
}